@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap");
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "MyriadPro-Black";
  src: url("../fonts/MyriadPro-Black.ttf");
  font-weight: 900; }
.red {
  color: #f42633; }

.green {
  color: #1eb100; }

.gray {
  color: #c0c0c0; }

.black {
  color: #000; }

* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "MyriadPro-Regular", sans-serif;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

a {
  text-decoration: none !important;
  transition: 0.3s; }
  a:hover {
    opacity: 0.7; }
  a.black {
    color: #000; }

@media (min-width: 1440px) {
  .container {
    max-width: 1410px; } }
@media (min-width: 1440px) {
  .container-2 {
    max-width: 1270px; } }
.w-1 {
  width: 1px; }

@media (min-width: 1200px) {
  .w-300 {
    width: 300px; } }

@media (min-width: 1200px) {
  .w-240 {
    width: 240px; } }

.row-4 {
  margin-left: -4px;
  margin-right: -4px; }
  .row-4 > [class*='col'] {
    padding-left: 4px;
    padding-right: 4px; }

.row-8 {
  margin-left: -8px;
  margin-right: -8px; }
  .row-8 > [class*='col'] {
    padding-left: 8px;
    padding-right: 8px; }

.fz-0 {
  font-size: 0px !important; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-14 {
  font-size: 14px; }

.fz-18 {
  font-size: 18px; }

.fz-26 {
  font-size: 26px; }

.h1 a, h1 a, .h2 a, h2 a, .h3 a, h3 a, .h4 a, h4 a, .h5 a, h5 a, .h6 a, h6 a {
  color: #000; }
  .h1 a:hover, h1 a:hover, .h2 a:hover, h2 a:hover, .h3 a:hover, h3 a:hover, .h4 a:hover, h4 a:hover, .h5 a:hover, h5 a:hover, .h6 a:hover, h6 a:hover {
    color: #000; }

.h1, h1 {
  font-size: 27px;
  font-weight: bold;
  font-family: "MyriadPro-Black", sans-serif; }

.h2, h2 {
  font-size: 26px; }

.h3, h3 {
  font-size: 18px;
  font-weight: bold; }

.h4, h4 {
  font-size: 22px;
  font-weight: 900;
  line-height: 1; }

.h6, h6 {
  font-size: 14px;
  font-weight: bold; }

.section-white {
  background: #FFF;
  border-radius: 15px;
  overflow: hidden; }

.bg-img {
  background-size: cover;
  background-position: center center;
  height: auto; }

.img-wrap {
  overflow: hidden;
  transition: 0.3s; }
  .img-wrap .bg-wrap {
    transition: 0.3s; }
  @media (min-width: 1200px) {
    .img-wrap:hover .bg-wrap {
      transform: scale(1.1); } }

@media (min-width: 768px) {
  .br-gray {
    border-right: 2px solid #dfdfe6; } }

.social-box .social {
  display: inline-block; }

.social-story .social {
  display: inline-block; }

.navbar {
  transition: 0.3s;
  background: #10283b !important;
  padding: 10px 16px; }
  @media (max-width: 1199.98px) {
    .navbar .navbar-brand {
      padding: 0;
      margin: 0 auto; } }
  .navbar .navbar-brand img {
    width: 260px; }
    @media (max-width: 767.98px) {
      .navbar .navbar-brand img {
        width: 200px; } }
    @media (max-width: 575.98px) {
      .navbar .navbar-brand img {
        width: 170px; } }
  .navbar .navbar-brand .brand-white {
    display: none; }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #FFF !important;
    font-weight: 500;
    display: inline-block;
    padding: 8px 16px !important; }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      opacity: 0.7; }
    .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
      display: none !important; }
    .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle .fa-chevron-right {
      position: absolute;
      color: #10283b;
      top: 23px;
      transform: translateY(-50%);
      right: 4px;
      transition: 0.3s;
      font-size: 16px; }
      @media (min-width: 1200px) {
        .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle .fa-chevron-right {
          display: none; } }
    .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle[aria-expanded="true"] .fa-chevron-right {
      transform: translateY(-50%) rotate(90deg); }
  .navbar.navbar-white {
    background: #FFF !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .navbar.navbar-white .sandwich span, .navbar.navbar-white .sandwich:before, .navbar.navbar-white .sandwich:after {
      border-color: #10283b; }
    .navbar.navbar-white .navbar-brand .brand-dark {
      display: none; }
    .navbar.navbar-white .navbar-brand .brand-white {
      display: inline-block; }
    .navbar.navbar-white .navbar-nav .nav-item {
      border-bottom: 1px solid #d5d5d5; }
      .navbar.navbar-white .navbar-nav .nav-item:first-child {
        border-top: 1px solid #d5d5d5; }
      .navbar.navbar-white .navbar-nav .nav-item .nav-link {
        color: #10283b !important;
        display: flex;
        padding: 11px 16px !important; }
    .navbar.navbar-white .social-box .social svg {
      width: 34px;
      margin: 0 8px; }
      .navbar.navbar-white .social-box .social svg path {
        fill: #10283b; }

.dropdown-1 .dropdown-menu {
  margin-top: 0;
  transition: 0.3s; }
  @media (max-width: 1199.98px) {
    .dropdown-1 .dropdown-menu {
      max-width: 50%; } }
  @media (max-width: 575.98px) {
    .dropdown-1 .dropdown-menu {
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .dropdown-1 .dropdown-menu {
      pointer-events: none;
      display: block;
      opacity: 0;
      position: absolute !important;
      top: 75% !important; }
      .dropdown-1 .dropdown-menu.show {
        opacity: 1;
        pointer-events: inherit;
        top: 100% !important; } }
  .dropdown-1 .dropdown-menu .dropdown-item {
    padding: 8px 24px;
    color: #10283b;
    font-size: 14px; }
    .dropdown-1 .dropdown-menu .dropdown-item:hover, .dropdown-1 .dropdown-menu .dropdown-item:active, .dropdown-1 .dropdown-menu .dropdown-item:focus {
      background-color: transparent;
      opacity: 0.7; }
  @media (max-width: 1199.98px) {
    .dropdown-1 .dropdown-menu {
      padding: 0;
      border: 0; }
      .dropdown-1 .dropdown-menu .dropdown-item {
        padding: 4px 24px;
        display: inline-block;
        white-space: initial; } }

.sandwich {
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: 0.3s; }
  .sandwich:hover {
    opacity: 0.6; }
  .sandwich:before {
    width: 26px; }
  .sandwich span {
    width: 26px; }
  .sandwich:after {
    width: 26px; }
  .sandwich:before, .sandwich:after {
    content: ""; }
  .sandwich span, .sandwich:after {
    margin-top: 6px; }
  .sandwich span, .sandwich:before, .sandwich:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 2px solid #FFF;
    margin-left: auto; }
  .sandwich:not(.collapsed):before {
    transform: translateX(3px) translateY(-1px) rotate(-45deg); }
  .sandwich:not(.collapsed) span {
    width: 0;
    opacity: 0; }
  .sandwich:not(.collapsed):after {
    transform: translateX(3px) translateY(1px) rotate(45deg); }
  .sandwich:hover {
    opacity: 0.8; }

.header-team {
  background: #FFF !important;
  padding: 16px; }
  .header-team .logo {
    width: 100px; }
  @media (max-width: 575.98px) {
    .header-team {
      padding: 10px 16px; }
      .header-team .logo {
        width: 40px; }
      .header-team h2 {
        font-size: 20px; } }

.nav-white {
  background: #FFF !important;
  border-top: 1px solid #dbdbdb;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  @media (max-width: 1199.98px) {
    .nav-white {
      position: sticky;
      top: 65px;
      z-index: 1019; } }
  @media (max-width: 767.98px) {
    .nav-white {
      top: 55px; } }
  @media (max-width: 575.98px) {
    .nav-white {
      top: 50px; } }
  .nav-white .nav-link {
    position: relative;
    color: #000 !important;
    font-weight: bold;
    height: 42px;
    line-height: 30px;
    padding: 6px !important;
    font-size: 14px; }
    .nav-white .nav-link:before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 6px;
      width: 0;
      border: 0;
      border-bottom: 4px solid #83d74b;
      transition: 0.3s;
      margin-left: 0; }
    .nav-white .nav-link:hover, .nav-white .nav-link.active {
      opacity: 1; }
      .nav-white .nav-link:hover:before, .nav-white .nav-link.active:before {
        width: calc(100% - 12px); }
    .nav-white .nav-link img {
      width: 30px; }
  .nav-white .col-team {
    display: none; }
  .nav-white.sticky .col-team {
    display: block;
    border-right: 1px solid #dfdfe6; }

.nav-white-scroll {
  overflow-x: auto;
  padding: 4px 0; }
  .nav-white-scroll [class*='col'] {
    position: initial; }
    .nav-white-scroll [class*='col'] .dropdown {
      position: initial; }
      .nav-white-scroll [class*='col'] .dropdown .dropdown-toggle:after {
        display: none !important; }
      .nav-white-scroll [class*='col'] .dropdown .dropdown-menu {
        top: 45px !important;
        margin-top: 0;
        border-radius: 8px;
        font-size: 14px; }
        .nav-white-scroll [class*='col'] .dropdown .dropdown-menu .dropdown-item {
          padding: 4px 24px;
          color: #000;
          font-weight: bold; }
          .nav-white-scroll [class*='col'] .dropdown .dropdown-menu .dropdown-item:hover, .nav-white-scroll [class*='col'] .dropdown .dropdown-menu .dropdown-item:active, .nav-white-scroll [class*='col'] .dropdown .dropdown-menu .dropdown-item:focus {
            background-color: transparent;
            opacity: 0.7; }
        .nav-white-scroll [class*='col'] .dropdown .dropdown-menu .title {
          padding: 4px 24px; }

.breadcrumb {
  background: transparent;
  font-size: 11px; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-left: 6px; }
    .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
      content: "/";
      padding-right: 6px;
      color: #c0c0c0; }
  .breadcrumb .breadcrumb-item a {
    color: #c0c0c0; }
    .breadcrumb .breadcrumb-item a:hover {
      opacity: 0.6; }
  .breadcrumb .breadcrumb-item.active {
    color: #c0c0c0; }

.content-box-geo {
  border-radius: 15px;
  background: #FFF; }
  .content-box-geo .title {
    padding: 8px 16px 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #dfdfe6; }
  .content-box-geo .news-box {
    padding: 16px 16px 28px;
    font-size: 15px;
    line-height: 1.2; }
    .content-box-geo .news-box:not(:last-child) {
      border-bottom: 1px solid #dfdfe6; }

.a-blue {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold; }

.table-schedule {
  min-width: 640px;
  margin-bottom: 0 !important; }
  @media (max-width: 991.98px) {
    .table-schedule {
      min-width: 750px; } }
  .table-schedule thead th {
    font-size: 14px;
    padding: 4px 10px; }
  .table-schedule tbody {
    font-size: 14px; }
    .table-schedule tbody tr:not(:last-child) {
      border-bottom: 1px solid #dfdfe6; }
    .table-schedule tbody th, .table-schedule tbody td {
      padding: 10px;
      vertical-align: middle; }
  .table-schedule th:first-child, .table-schedule td:first-child {
    padding-left: 16px; }
  .table-schedule tr {
    padding-left: 16px;
    padding-right: 16px; }

.img-team-table {
  width: 30px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
  .img-team-table img {
    max-height: 100%; }

.owl-1 {
  padding-left: 35px;
  padding-right: 35px; }
  @media (max-width: 767.98px) {
    .owl-1 {
      padding-left: 20px;
      padding-right: 20px; } }
  .owl-1 .owl-nav {
    margin-top: 0; }
    .owl-1 .owl-nav .owl-prev, .owl-1 .owl-nav .owl-next {
      background-size: 18px !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      height: 32px;
      width: 18px;
      background-color: transparent;
      cursor: pointer;
      background-image: url(../img/arrow.webp) !important;
      transition: 0.3s;
      position: absolute;
      top: 12px;
      left: 0; }
      @media (max-width: 767.98px) {
        .owl-1 .owl-nav .owl-prev, .owl-1 .owl-nav .owl-next {
          background-size: 9px !important;
          height: 16px;
          width: 9px; } }
      .owl-1 .owl-nav .owl-prev:hover, .owl-1 .owl-nav .owl-next:hover {
        opacity: 0.7;
        background-color: transparent; }
    .owl-1 .owl-nav .owl-next {
      left: auto;
      right: 0;
      transform: rotate(180deg); }

.date {
  display: inline-block;
  width: 13%;
  padding: 10px;
  border-radius: 8px;
  color: #000;
  margin: 2px; }
  @media (max-width: 767.98px) {
    .date {
      width: 20%;
      padding: 4px; } }
  .date:hover, .date.active {
    font-weight: bold;
    background: #f0f2f5;
    opacity: 1;
    color: #000; }
  .date .day {
    text-transform: uppercase; }
    @media (max-width: 767.98px) {
      .date .day {
        font-size: 12px; } }
  .date .number {
    font-size: 14px; }
    @media (max-width: 767.98px) {
      .date .number {
        font-size: 10px; } }

.footer {
  margin-top: auto;
  background: #10283b;
  padding: 16px 0 24px;
  color: #FFF;
  font-family: "Roboto", sans-serif; }
  .footer .links-box a {
    color: #FFF;
    font-size: 14px; }

.schedule .box {
  padding: 8px 16px;
  border-bottom: 1px solid #dfdfe6; }
  .schedule .box .title {
    font-size: 12px; }

.text-box {
  padding: 24px 20px; }

.blue-link {
  color: #007bff;
  font-size: 13px;
  font-weight: bold; }

.data {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 8px; }

.text-box-container .text-box {
  border-top: 1px solid #dfdfe6; }
  .text-box-container .text-box .img-wrap {
    border-radius: 15px; }
    @media (max-width: 575.98px) {
      .text-box-container .text-box .img-wrap .bg-img {
        max-height: 195px; } }

.select-year {
  font-size: 13px;
  border: 0;
  cursor: pointer;
  background: #f0f2f5 url(../img/arrows.webp) no-repeat right 0.75rem center/8px 10px; }
  .select-year:focus {
    box-shadow: none; }

.table-2 {
  margin-bottom: 0 !important;
  font-size: 14px;
  cursor: pointer; }
  .table-2 tbody th, .table-2 tbody td {
    text-align: center;
    white-space: nowrap;
    padding: 8px 20px; }

.scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px; }
.scroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px; }
.scroll::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 2px; }

.card-widget {
  min-height: 175px;
  width: 300px;
  border-radius: 8px;
  background: linear-gradient(to right, #205985 0%, #13324b 100%);
  color: #FFF;
  padding: 18px 20px;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  z-index: 0;
  display: flex; }
  @media (max-width: 575.98px) {
    .card-widget {
      max-width: 300px;
      width: auto; } }
  .card-widget .title {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 12px;
    font-weight: bold; }
  .card-widget p {
    line-height: 1.2;
    margin-bottom: 8px; }

.btn-contact {
  background: #8bdc41;
  border-radius: 8px;
  color: #FFF;
  padding: 8px;
  transition: 0.3s;
  border: 0;
  font-size: 13px;
  font-weight: bold; }
  .btn-contact:hover {
    background: #69B051; }

.widget-1, .widget-2, .widget-3 {
  position: absolute;
  z-index: -1; }

.widget-1 {
  bottom: 0;
  right: -32px;
  width: 180px; }

.widget-2 {
  bottom: 0;
  right: 20px;
  width: 80px; }

.widget-3 {
  bottom: -30px;
  right: 15px;
  width: 110px; }

/*# sourceMappingURL=style.css.map */
