@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap')

@font-face
	font-family: 'MyriadPro-Regular'
	src: url('../fonts/MyriadPro-Regular.ttf')
	font-weight: normal
@font-face
	font-family: 'MyriadPro-Semibold'
	src: url('../fonts/MyriadPro-Semibold.ttf')
	font-weight: 600
@font-face
	font-family: 'MyriadPro-Bold'
	src: url('../fonts/MyriadPro-Bold.ttf')
	font-weight: 700
@font-face
	font-family: 'MyriadPro-Black'
	src: url('../fonts/MyriadPro-Black.ttf')
	font-weight: 900

$color-black: #000
$color-gray: #f0f2f5
$color-gray-2: #c0c0c0
$color-blue-2: #007bff
$color-blue: #10283b
$color-white: #FFF
$color-green: #83d74b
$color-border: #dfdfe6
$color-red: #f42633
$color-green-2: #1eb100
$border-item: #d5d5d5

.red
	color: $color-red
.green
	color: $color-green-2

.gray
	color: $color-gray-2
.black
	color: $color-black

$transition: .3s

* 
	outline: none !important

img 
	max-width: 100%
	height: auto

body 
	font-family: 'MyriadPro-Regular', sans-serif
	background: $color-gray
	display: flex
	position: relative
	flex-direction: column
	min-height: 100vh
	&.menubar
		overflow: hidden

a 	
	text-decoration: none !important
	transition: $transition
	&:hover
		opacity: .7
	&.black
		color: $color-black

@media (min-width: 1440px)
	.container 
		max-width: 1410px

@media (min-width: 1440px)
	.container-2
		max-width: 1270px

.w-1
	width: 1px

.w-300
	@media (min-width: 1200px)
		width: 300px

.w-240
	@media (min-width: 1200px)
		width: 240px

.row-4
	margin-left: -4px
	margin-right: -4px
	> [class*='col']
		padding-left: 4px
		padding-right: 4px

.row-8
	margin-left: -8px
	margin-right: -8px
	> [class*='col']
		padding-left: 8px
		padding-right: 8px

.fz-0
	font-size: 0px !important
.fz-11
	font-size: 11px
.fz-12
	font-size: 12px
.fz-14
	font-size: 14px
.fz-18
	font-size: 18px
.fz-26
	font-size: 26px

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
	a 
		color: $color-black
		&:hover
			color: $color-black

.h1, h1
	font-size: 27px
	font-weight: bold
	font-family: 'MyriadPro-Black', sans-serif

.h2, h2
	font-size: 26px

.h3, h3
	font-size: 18px
	font-weight: bold

.h4, h4
	font-size: 22px
	font-weight: 900
	line-height: 1

.h6, h6
	font-size: 14px
	font-weight: bold

.bg-img
	background-size: cover
	background-position: center center
	height: auto

.img-wrap 
	overflow: hidden
	transition: $transition
	.bg-wrap
		transition: $transition
	@media (min-width: 1200px)
		&:hover
			.bg-wrap
				transform: scale(1.1) 

.br-gray
	@media (min-width: 768px)
		border-right: 2px solid $color-border

.social-box	
	.social
		display: inline-block

.social-story
	.social
		display: inline-block

// NAVBAR

.navbar
	transition: $transition
	background: $color-blue !important
	padding: 10px 16px
	.navbar-brand
		@media (max-width: 1199.98px)
			padding: 0
			margin: 0 auto
		img 
			width: 260px
			@media (max-width: 767.98px)
				width: 200px
		.brand-white
			display: none
	.navbar-nav
		.nav-item
			.nav-link
				color: $color-white !important
				font-weight: 500
				display: inline-block
				padding: 8px 16px !important
				&:hover 
					opacity: .7
				&.dropdown-toggle
					&:after
						display: none !important
					.fa-chevron-right
						position: absolute
						color: $color-blue
						top: 23px
						transform: translateY(-50%)
						right: 4px
						transition: $transition
						font-size: 16px
						@media (min-width: 1200px)
							display: none
					&[aria-expanded="true"]
						.fa-chevron-right
							transform: translateY(-50%) rotate(90deg)
	&.navbar-white
		background: $color-white !important
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
		@media (max-width: 1199.98px)
			position: fixed
			left: 0
			right: 0
			bottom: 0 
			overflow: auto
			align-items: start
		.sandwich
			span, &:before, &:after
				border-color: $color-blue		
		.navbar-brand
			.brand-dark
				display: none
			.brand-white
				display: inline-block
		.navbar-nav
			.nav-item
				border-bottom: 1px solid $border-item
				&:first-child
					border-top: 1px solid $border-item
				.nav-link
					color: $color-blue !important
					display: flex
					padding: 11px 16px !important
		.social-box	
			.social
				svg 
					width: 34px
					margin: 0 8px
					path 
						fill: $color-blue

.dropdown-1
	.dropdown-menu
		margin-top: 0
		transition: $transition
		@media (max-width: 1199.98px)
			max-width: 50%
		@media (max-width: 575.98px)
			max-width: 100%
		@media (min-width: 1200px)
			pointer-events: none
			display: block
			opacity: 0
			position: absolute !important
			top: 75% !important
			&.show
				opacity: 1
				pointer-events: inherit
				top: 100% !important
		.dropdown-item
			padding: 8px 24px
			color: $color-blue
			font-size: 14px
			&:hover, &:active, &:focus
				background-color: transparent
				opacity: .7
		@media (max-width: 1199.98px)
			padding: 0
			border: 0
			.dropdown-item
				padding: 4px 24px
				display: inline-block
				white-space: initial	

.dropdown-state
	.dropdown-menu
		min-width: 400px
		padding: 8px
		@media (max-width: 1199.98px)
			max-width: 50%
			min-width: auto
			width: 100%
		@media (max-width: 767.98px)
			max-width: 100%
		.dropdown-item
			padding: 8px 16px
			display: inline-block
			position: relative
			width: auto
			font-size: 16px
			color: $color-blue
			&:before 
				content: ""
				position: absolute
				bottom: 2px
				left: 16px
				width: 0
				border-bottom: 4px solid $color-green
				transition: $transition
			&:hover, &.active
				opacity: 1
				font-weight: bold
				&:before
					width: calc(100% - 32px)

.sandwich
	display: inline-block
	color: $color-white
	cursor: pointer
	transition: none
	padding: 0
	border: 0
	background-color: transparent
	transition: $transition
	&:hover 
		opacity: .6
	&:before
		width: 26px
	span
		width: 26px
	&:after
		width: 26px
	&:before, &:after
		content: ''
	span, &:after
		margin-top: 6px
	span, &:before, &:after
		display: block
		transition: $transition
		transform-origin: right center
		border-top: 2px solid $color-white
		margin-left: auto
	&:not(.collapsed)
		&:before
			transform: translateX(3px) translateY(-1px) rotate(-45deg)
		span
			width: 0
			opacity: 0
		&:after
			transform: translateX(3px) translateY(1px) rotate(45deg)
	&:hover 
		opacity: .8

.header-team
	background: $color-white !important
	padding: 16px 
	.logo
		width: 100px
	@media (max-width: 575.98px)
		padding: 10px 16px
		.logo 
			width: 40px
		h2 
			font-size: 20px

.nav-white
	background: $color-white !important
	border-top: 1px solid #dbdbdb
	position: relative
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
	position: sticky
	z-index: 1019
	top: 76px
	@media (max-width: 1199.98px)
		top: 65px
	@media (max-width: 767.98px)
		top: 55px
	.nav-link
		position: relative
		color: $color-black !important
		font-weight: bold
		height: 42px
		line-height: 30px
		padding: 6px !important
		font-size: 14px
		&:before 
			content: ""
			position: absolute
			bottom: -4px
			left: 6px
			width: 0
			border: 0
			border-bottom: 4px solid $color-green
			transition: $transition
			margin-left: 0
		&:hover, &.active
			opacity: 1
			&:before
				width: calc(100% - 12px)
		img 
			width: 30px
	.col-team
		width: 0
		padding: 0
		transition: $transition
		opacity: 0
		border-right: 1px solid 
		border-color: transparent
		.nav-link
			width: 0
			padding: 0
			transition: $transition
			img	
				width: 0
				transition: $transition
	&.sticky
		.col-team
			width: auto
			padding: 0 8px
			opacity: 1
			border-color: $color-border
			.nav-link
				width: 42px
				padding: 6px
				img	
					width: 30px

.nav-white-scroll
	overflow-x: auto
	padding: 4px 0
	[class*='col']
		position: initial
		.dropdown
			position: initial
			.dropdown-toggle
				&:after
					display: none !important
			.dropdown-menu
				top: 45px !important
				margin-top: 0
				border-radius: 8px
				font-size: 14px
				.dropdown-item
					padding: 4px 24px
					color: $color-black
					font-weight: bold
					&:hover, &:active, &:focus
						background-color: transparent
						opacity: .7
				.title
					padding: 4px 24px

.breadcrumb
	background: transparent
	font-size: 11px
	.breadcrumb-item
		+ .breadcrumb-item
			padding-left: 6px
			&:before
				content: "/"
				padding-right: 6px
				color: $color-gray-2
		a
			color: $color-gray-2
			&:hover
				opacity: .6
		&.active 
			color: $color-gray-2

.section-white
	background: $color-white
	border-radius: 8px
	&.section-white-adaptive
		@media (max-width: 575.98px)
			background: transparent

.text-box
	padding: 24px 20px
	@media (max-width: 575.98px)
		background: $color-white
		border-bottom-left-radius: 8px
		border-bottom-right-radius: 8px
		padding: 0 20px 16px 
		margin-bottom: 20px
	.img-wrap
		@media (max-width: 575.98px)
			border-radius: 0 !important
			margin-left: -35px !important
			margin-right: -35px !important
			.bg-img
				max-height: 195px
	&:first-child
		padding-top: 0
		.img-wrap
			border-top-left-radius: 8px
			border-top-right-radius: 8px
			margin-left: -20px
			margin-right: -20px
	&:not(:first-child)
		.img-wrap
			border-radius: 8px
		@media (min-width: 576px)
			border-top: 1px solid $color-border

.blue-link
	color: $color-blue-2
	font-size: 13px
	font-weight: bold
.data
	text-transform: uppercase
	font-size: 12px
	margin-top: 8px

.content-box-geo
	border-radius: 8px 
	background: $color-white
	.title
		padding: 8px 16px 16px
		margin-bottom: 0
		border-bottom: 1px solid $color-border
	.news-box
		padding: 16px 16px 28px
		font-size: 15px
		line-height: 1.2
		&:not(:last-child)
			border-bottom: 1px solid $color-border

.a-blue
	display: inline-block
	text-transform: uppercase
	margin-top: 12px
	font-size: 12px
	font-weight: bold

.table-schedule
	min-width: 640px
	margin-bottom: 0 !important
	@media (max-width: 991.98px)
		min-width: 750px
	thead
		th
			font-size: 14px
			padding: 4px 10px
	tbody
		font-size: 14px
		tr
			&:not(:last-child)
				border-bottom: 1px solid $color-border
		th, td
			padding: 10px
			vertical-align: middle
	th, td 
		&:first-child
			padding-left: 16px
	tr 
		padding-left: 16px
		padding-right: 16px

.img-team-table
	width: 30px
	margin: 0 4px
	display: inline-block
	vertical-align: middle
	text-align: center
	img 
		max-height: 100%

.owl-1
	padding-left: 35px
	padding-right: 35px
	@media (max-width: 767.98px)
		padding-left: 20px
		padding-right: 20px
	.owl-nav
		margin-top: 0
		.owl-prev, .owl-next
			background-size: 18px !important
			background-position: center center !important
			background-repeat: no-repeat !important
			height: 32px
			width: 18px
			background-color: transparent
			cursor: pointer
			background-image: url(../img/arrow.webp) !important
			transition: $transition
			position: absolute
			top: 12px 
			left: 0
			@media (max-width: 767.98px)
				background-size: 9px !important
				height: 16px
				width: 9px
			&:hover 
				opacity: .7
				background-color: transparent
		.owl-next
			left: auto
			right: 0
			transform: rotate(180deg)

.date
	display: inline-block
	width: 13%
	padding: 10px
	border-radius: 8px
	color: $color-black
	margin: 2px
	@media (max-width: 767.98px)
		width: 20%
		padding: 4px
	&:hover, &.active
		font-weight: bold
		background: $color-gray
		opacity: 1
		color: $color-black
	.day
		text-transform: uppercase
		@media (max-width: 767.98px)
			font-size: 12px
	.number
		font-size: 14px
		@media (max-width: 767.98px)
			font-size: 10px
	
.footer
	margin-top: auto
	background: $color-blue
	padding: 16px 0 24px
	color: $color-white
	font-family: 'Roboto', sans-serif
	.links-box
		a 
			color: $color-white
			font-size: 14px

.schedule
	.box
		padding: 8px 16px
		border-bottom: 1px solid $color-border
		&:last-child
			border-bottom: 0
		.title
			font-size: 12px
		.time
			font-size: 13px
			color: $color-gray-2
		.team 
			img 
				width: 26px

.schedule-2
	.box
		.title 
			font-size: 14px !important
			margin-left: 4px
			@media (max-width: 575.98px)
				display: none
		.team 
			img 
				width: 30px

.select-year
	font-size: 13px
	border: 0	
	cursor: pointer
	background: $color-gray url(../img/arrows.webp) no-repeat right 0.75rem center/8px 10px
	&:focus 
		box-shadow: none

.table-2
	margin-bottom: 0 !important
	font-size: 14px
	cursor: pointer
	tbody
		th, td
			text-align: center
			white-space: nowrap
			padding: 8px 20px

.scroll
	&::-webkit-scrollbar
		width: 4px
		height: 4px
	&::-webkit-scrollbar-track
		background-color: transparent
		border-radius: 2px
	&::-webkit-scrollbar-thumb
		background-color: $color-gray-2
		border-radius: 2px

.score
	display: block
	background: $color-gray
	border-radius: 15px
	border: 2px solid #dde1e5
	text-align: center
	font-size: 34px
	font-weight: 900
	padding: 5.5px
	@media (max-width: 575.98px)
		font-size: 18px

.h-60
	height: 60px
	display: flex
	img 
		margin: auto
		max-height: 60px

// WIDGETS

.card-widget
	min-height: 175px
	width: 300px
	border-radius: 8px
	background: linear-gradient(to right, #205985 0%, #13324b 100%)
	color: $color-white
	padding: 18px 20px
	position: relative
	overflow: hidden
	font-size: 13px
	z-index: 0
	display: flex
	.title	
		font-size: 17px
		line-height: 1.2
		margin-bottom: 12px
		font-weight: bold
	p 
		line-height: 1.2
		margin-bottom: 8px

.btn-contact
	background: #8bdc41
	border-radius: 8px
	color: $color-white
	padding: 8px
	transition: $transition
	border: 0
	font-size: 13px
	font-weight: bold
	&:hover
		background: #69B051

.widget-1, .widget-2, .widget-3
	position: absolute
	z-index: -1

.widget-1
	bottom: 0
	right: -32px
	width: 180px

.widget-2
	bottom: 0
	right: 20px
	width: 80px

.widget-3
	bottom: -30px
	right: 15px
	width: 110px